<div class="col-md-12">
  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">Edit Person</h5>
    </div>
    <div class="card-body">
      <form #EditForm="ngForm">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Username</label>
              <input
                #userName="ngModel"
                name="userName"
                [(ngModel)]="person.userName"
                required
                type="text"
                class="form-control"
                placeholder="Edit User Name"
              />
              <span
                class="text-danger"
                *ngIf="
                  (userName.touched || EditForm.submitted) &&
                  userName.errors?.['required']
                "
              >
                User Name is required
              </span>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Email</label>
              <input
                #email="ngModel"
                name="email"
                [(ngModel)]="person.email"
                required
                type="text"
                class="form-control"
                placeholder="Email"
              />
              <span
                class="text-danger"
                *ngIf="
                  (email.touched || EditForm.submitted) &&
                  email.errors?.['required']
                "
              >
                Email is required
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Phone Number</label>
              <input
                #phoneNumber="ngModel"
                name="phoneNumber"
                [(ngModel)]="person.phoneNumber"
                required
                type="text"
                class="form-control"
                placeholder="phone Number"
              />
              <span
                class="text-danger"
                *ngIf="
                  (phoneNumber.touched || EditForm.submitted) &&
                  phoneNumber.errors?.['required']
                "
              >
                Email is required
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="form-group">
            <input
              #dateOfBirth="ngModel"
              type="date"
              [(ngModel)]="person.dateOfBirth"
              name="dateOfBirth"
              class="form-control"
              placeholder="{{ person.dateOfBirth | date }}"
              bsDatepicker
            />
            <div
              *ngIf="dateOfBirth.errors?.['required']"
              class="invalid-feedback"
            >
              Birth Date is required
            </div>
          </div>

          <section class="example-section">
            <label class="example-margin">Gender:</label>
            <mat-radio-group [(ngModel)]="person.gender" name="gender">
              <mat-radio-button class="example-margin" value="male"
                >Male</mat-radio-button
              >
              <mat-radio-button class="example-margin" value="female"
                >Female</mat-radio-button
              >
            </mat-radio-group>
          </section>
        </div>
        <div class="row">
          <div class="col-md-12">
            <section class="example-section">
              <label>Role</label>
              <div *ngFor="let role of roles">
                <input
                  name="role"
                  type="checkbox"
                  [checked]="role.checked"
                  required
                  (change)="role.checked = !role.checked"
                  (change)="NoRolesSelected()"
                  class="example-margin"
                  [value]="role.name"
                />
                <label>{{ role.name }}</label>
              </div>
              <p
                class="text-danger"
                *ngIf="!IsRoleSelected"
                style="display: block"
              >
                one Role at least is required
              </p>
            </section>
          </div>
        </div>
        <div class="row">
          <ng-container *ngFor="let address of addresses; let index = index">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input
                  type="text"
                  name="city-{{ index }}"
                  [(ngModel)]="addresses[index].city"
                  class="form-control"
                  placeholder="City"
                />
              </div>
            </div>

            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Country</label>
                <input
                  type="text"
                  name="country-{{ index }}"
                  [(ngModel)]="addresses[index].country"
                  class="form-control"
                  placeholder="Country"
                />
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Street</label>
                <input
                  name="street-{{ index }}"
                  [(ngModel)]="addresses[index].street"
                  type="text"
                  class="form-control"
                  name="street"
                  placeholder="Street"
                />
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="addresses.length == 0 || NewAddress != null">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input
                  type="text"
                  name="city"
                  [(ngModel)]="NewAddress.city"
                  class="form-control"
                  placeholder="City"
                />
              </div>
            </div>

            <div class="col-md-4 px-1">
              <div class="form-group">
                <label>Country</label>
                <input
                  type="text"
                  name="country"
                  [(ngModel)]="NewAddress.country"
                  class="form-control"
                  placeholder="Country"
                />
              </div>
            </div>
            <div class="col-md-4 pl-1">
              <div class="form-group">
                <label>Street</label>
                <input
                  name="street"
                  [(ngModel)]="NewAddress.street"
                  type="text"
                  class="form-control"
                  name="street"
                  placeholder="Street"
                />
              </div>
            </div>
          </ng-container>
          <div class="row d-flex">
            <button
              type="button"
              (click)="addAddress()"
              class="addButton btn btn-primary btn-round"
            >
              <i _ngcontent-hop-c112="" class="nc-icon nc-simple-add"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="update ml-auto mr-auto">
            <button
              (click)="submit()"
              type="button"
              class="btn btn-primary btn-round"
            >
              Update Profile
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
