<nav
  class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent"
>
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
    </div>

    <div
      *ngIf="currentUser"
      class="collapse navbar-collapse justify-content-end"
      id="collapseExample"
    >
      <ul class="navbar-nav">
        <li class="nav-item btn-rotate" ngbDropdown placement="bottom-left">
          <a class="nav-link" ngbDropdownToggle id="navbarDropdownMenuLink">
            <img
              src="assets/avatars/avatar-{{ currentUser.avatarId }}.png"
              class="avatar"
              alt=""
            />
          </a>
          <div
            ngbDropdownMenu
            aria-labelledby="navbarDropdownMenuLink"
            class="dropdown-menu dropdown-menu-right"
          >
            <a (click)="logout()" ngbDropdownItem>Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
