.navbar.navbar-absolute {
    position: absolute;
    width: 95%;
    padding-top: 10px;
    z-index: 1029;
}
.avatar{
     width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}
 a {
    cursor: pointer;
}