<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div
        class="left-img"
        style="background-image: url(assets/img/jan-sendereks.jpg)"
      ></div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg">Sign Up</h2>
          <p class="auth-signup-text text-muted">
            Enter details to create your account
          </p>
          <form
            class="validate-form"
            [formGroup]="authForm"
            (ngSubmit)="onSubmit()"
          >
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="userName" required />
                  <mat-icon matSuffix>face</mat-icon>
                  <mat-error
                    *ngIf="authForm.get('userName')?.hasError('required')"
                  >
                    Username is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required />
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error
                    *ngIf="
                      authForm.get('email')?.hasError('required') ||
                      authForm.get('email')?.touched
                    "
                  >
                    Please enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    formControlName="password"
                    [type]="hide ? 'password' : 'text'"
                    required
                  />
                  <mat-icon matSuffix (click)="hide = !hide">
                    {{ hide ? "visibility_off" : "visibility" }}</mat-icon
                  >
                  <mat-error
                    *ngIf="authForm.get('password')?.hasError('required')"
                  >
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Confirm Password</mat-label>
                  <input
                    matInput
                    formControlName="cpassword"
                    [type]="chide ? 'password' : 'text'"
                    required
                  />
                  <mat-icon matSuffix (click)="chide = !chide">
                    {{ chide ? "visibility_off" : "visibility" }}</mat-icon
                  >
                  <mat-error
                    *ngIf="authForm.get('cpassword')?.hasError('required')"
                  >
                    Confirm Password is required
                  </mat-error>
                  <mat-error
                    *ngIf="authForm.get('cpassword')?.hasError('isMatching')"
                  >
                    passwords do not match
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-radio-group> </mat-radio-group>
                <section class="example-section">
                  <mat-label>Gender</mat-label>
                  <mat-radio-group
                    formControlName="Gender"
                    class="example-full-width"
                    appearance="outline"
                  >
                    <mat-radio-button
                      required
                      class="example-margin"
                      value="Male"
                      >Male</mat-radio-button
                    >
                    <mat-radio-button class="example-margin" value="Female"
                      >Female</mat-radio-button
                    >
                  </mat-radio-group>
                  <mat-error
                    *ngIf="
                      authForm.get('Gender')?.hasError('required') ||
                      authForm.get('Gender')?.touched
                    "
                  >
                    Gender is required
                  </mat-error>
                </section>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="dateOfbirth">
                  <mat-label>Date of Birth</mat-label>
                  <input
                    matInput
                    style="border: 2px solid #f2f2f2"
                    required
                    [matDatepicker]="picker"
                    formControlName="dateOfBirth"
                    name="dateOfBirth"
                  />
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker class="datepicker"></mat-datepicker>
                  <mat-error *ngIf="authForm.get('dateOfBirth')?.touched">
                    Date Of Birth is required
                  </mat-error>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Phone Number</mat-label>
                  <input matInput formControlName="PhoneNumber" required />
                  <mat-icon matSuffix>phone</mat-icon>
                  <mat-error
                    *ngIf="
                      authForm.get('PhoneNumber')?.hasError('required') ||
                      authForm.get('PhoneNumber')?.touched
                    "
                  >
                    Please enter a valid Phone Number
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Country</mat-label>
                  <input matInput formControlName="country" />
                  <mat-icon matSuffix>location_city</mat-icon>
                  <mat-error
                    *ngIf="
                      authForm.get('country')?.hasError('required') ||
                      authForm.get('country')?.touched
                    "
                  >
                    Please enter country
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>City</mat-label>
                  <input matInput formControlName="city" />
                  <mat-icon matSuffix>location_city</mat-icon>
                  <mat-error
                    *ngIf="
                      authForm.get('city')?.hasError('required') ||
                      authForm.get('city')?.touched
                    "
                  >
                    Please enter city
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Street</mat-label>
                  <input matInput formControlName="street" />
                  <mat-icon matSuffix>location_city</mat-icon>
                  <mat-error
                    *ngIf="
                      authForm.get('street')?.hasError('required') ||
                      authForm.get('street')?.touched
                    "
                  >
                    Please enter street
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="flex-sb-m w-full p-b-20">
              <div>
                <span>Already Registered? <a routerLink="/"> Login </a></span>
              </div>
            </div>
            <div class="container-auth-form-btn">
              <button
                mat-flat-button
                color="primary"
                class="auth-form-btn"
                [disabled]="!authForm.valid"
                type="submit"
              >
                Register
              </button>
            </div>
          </form>
          <h6 class="social-login-title">-</h6>
          <ul class="list-unstyled social-icon mb-0 mt-3">
            <li class="list-inline-item">
              <p></p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
