<div class="row d-flex">
  <button
    type="button"
    [disabled]="!IsAdmin"
    (click)="newPerson()"
    class="addButton btn btn-primary btn-round"
  >
    <i _ngcontent-hop-c112="" class="nc-icon nc-simple-add"></i>
  </button>

  <table
    datatable
    [dtOptions]="dtOptions"
    [dtTrigger]="dtTrigger"
    class="row-border hover"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th></th>
        <th>user Name</th>

        <th>Age</th>
        <th>Date Of Birth</th>
        <th>created On</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of Persons">
        <td>{{ person.id }}</td>
        <td>
          <img
            class="avatar"
            src="assets/avatars/avatar-{{ person.avatarId }}.png"
            alt=""
          />
        </td>

        <td>
          {{ person.userName }}
        </td>

        <td>{{ person.age }}</td>
        <td>{{ person.dateOfBirth | date }}</td>
        <td>{{ person.created | timeago }}</td>
        <td>{{ person.gender }}</td>
        <td>{{ person.phoneNumber }}</td>
        <td>
          <span *ngFor="let address of person.addresses">
            {{ address.country }} - {{ address.city }} - {{ address.street }}
            <br />
          </span>
        </td>
        <td>
          <button
            [disabled]="!IsAdmin"
            (click)="edit(person)"
            type="button"
            class="btn btn-info"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            [disabled]="!IsAdmin || currentUser.id == person.id"
            (click)="delete(person.id)"
            type="button"
            class="btn btn-danger"
          >
            <mat-icon>restore_from_trash</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
